
.btn1:hover{
   color:  rgb(13, 202, 240);
}
.btn1{
    text-decoration: none;
    color: white;
    outline: none;
    border: none;
    background-color: inherit;
}
.navv{
    padding-inline-start: 2vw;

    background-color: inherit;
    color: white;
    display: flex;
    justify-self:flex-start;
    flex-direction: row;
    justify-items: center;

    
    
}