.container{
   
    display: grid;
    place-items:center;
   
    
    margin-top: 0;
}
.slide-container{
    display: flex;
    width:50px;
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
}
.slide-image{

    display:flex;
    align-items: center;
    
   
  
}
 