/* .form1{
    
    text-align: center;
   
    width: max-content;
    height:max-content;
  margin-left: 65vw;
    border-radius: 10%;
    margin-top: 15vh;
    color:  rgb(13, 202, 240); 
     
} */
/* Form{
      
    color:rgb(245, 246, 247); 
   display: flex;
   margin: 10vh;
   padding-bottom: 5vh;
    justify-content:center;
    flex-direction: column;
    width: 20vw;
    
} */
   