.App{
  font-family:  Helvetica ;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: black;
 
 
}
.cardd:hover{
transform: scale(1.1);
}

.extra{
  font-family:  sans-serif;
}
.Link{
  text-decoration: none;
  color: rgb(216, 214, 214);
}
.Link:hover{
 color:  rgb(13, 202, 240);
}
